.filter {
  width: 75px;
  height: 75px;
}

.filter img {
  display: block;
  margin: 0 auto;
  width: 35px;
  height: 35px;
}

.pFilterButton {
  margin-top: 5px;
  font-family: Quicksand;
  font-size: 12px;
  text-align: center;
  color: #9b9694;
}

.pFilterButton.selected {
  color: #56a95b;
  font-weight: bold;
}
